body {
  background-color: #22272e;
  color: #c5d1de;
  font-family: system-ui;
}

#site-root {
  width: 40em;
  margin: 3em auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#site-root>div {
  flex: 1 0 auto;
}

a {
  color: #478be6;
  text-underline-offset: 3px;
}